*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
height:100vh;
}

.sky{
width:100vw;
height:100vh;
position:relative;
overflow:hidden;
animation:dayNight 15s linear infinite;
}

/* SUN */
.sun{
width:120px;
height:120px;
border-radius:50%;
background:gold;
position:absolute;
top:15%;
left:-10%;
box-shadow:0 0 60px gold;
animation:
moveSun 15s linear infinite,
glow 3s ease-in-out infinite;
}

/* MOON */
.moon{
width:90px;
height:90px;
border-radius:50%;
background:white;
position:absolute;
top:20%;
left:-15%;
box-shadow:0 0 30px white;
animation:moveMoon 15s linear infinite;
}

/* CLOUDS */
.cloud{
position:absolute;
background:white;
border-radius:50px;
opacity:.8;
}

.cloud::before,
.cloud::after{
content:"";
position:absolute;
background:white;
border-radius:50%;
}

.cloud1{
width:180px;
height:60px;
top:15%;
animation:cloudMove 30s linear infinite;
}

.cloud1::before{
width:70px;
height:70px;
top:-30px;
left:20px;
}

.cloud1::after{
width:90px;
height:90px;
top:-40px;
right:20px;
}

.cloud2{
width:150px;
height:50px;
top:35%;
animation:cloudMove 22s linear infinite;
}

.cloud3{
width:200px;
height:60px;
top:55%;
animation:cloudMove 40s linear infinite;
}

/* STARS */
.star{
position:absolute;
background:white;
border-radius:50%;
animation:twinkle 2s infinite alternate;
}

/* KEYFRAMES */
@keyframes dayNight{

0%,100%{
    background:linear-gradient(#4facfe,#00f2fe);
}

50%{
    background:linear-gradient(#05051f,#000000);
}
}

@keyframes moveSun{

0%{
    left:-10%;
    top:80%;
}

50%{
    left:45%;
    top:10%;
}

100%{
    left:110%;
    top:80%;
}
  }

@keyframes moveMoon{

0%{
    left:-20%;
    opacity:0;
}

50%{
    opacity:1;
}

100%{
    left:110%;
    opacity:0;
}
  }

@keyframes glow{

50%{
    box-shadow:0 0 100px 30px gold;
}
}

@keyframes cloudMove{
from{
    left:-250px;
}

to{
    left:110%;
}
  }

@keyframes twinkle{
from{
    opacity:.2;
}

to{
    opacity:1;
}
  }
